html {
    width: 100%;
}

.in {
    display: inline-block;
}

.map {
    margin: 0;
    padding: 0;
    height: 600px;
    width: 100%;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #313b44;
}

.footdiv {
    display: inline-block;
    margin-left: 7px;
    margin-top: 8px;
    padding: 0;
    width: 24%;
    height: 70%;
    background-color: blue;
}

.footsec {
    padding-top: 5px;
    text-align: center;
}