html {
    width: 100%;
}

.in {
    display: inline-block;
}

.abs {
    position: relative;
}

.map {
    margin: 0;
    padding: 0;
    height: 600px;
    width: 73vw;

}

.add {
    position: absolute;
    top: 0;
    left: 75%;
    margin: 0;
    width: 25vw;
    height: 400px;
    padding: 0;
}