<!DOCTYPE html>
<html lang="en">
<head>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/en-ie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <link href="../static/style.css" rel="stylesheet" type="text/css"/>
    <title>Dublin Bikes Map</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="../static/b.png"></a>

            <div class="navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <div class="nav-link nav-size"><p>Check your</p></div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-size" href="http://www.dublinbikes.ie/">Dublin bikes</a>
                    </li>
                </ul>
                <h3 class="navbar-brand">Search Station Number:</h3>
                <form class="form-inline my-2 my-md-0" method="POST" action="/"> <!--Action invoked when user input a station number-->
                    <input aria-label="Search" class="form-control" placeholder="Search" type="number"
                           name="Station_No">
                    <input type="submit" name="submit" value="Submit" class="btn btn-info">
                </form>
            </div>
        </div>
    </nav>
</header>
</body>
</html>