<!DOCTYPE html>
<html lang="en">
<head>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/en-ie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <link href="../static/style.css" rel="stylesheet" type="text/css"/>
    <title>Dublin Bikes Map</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../static/b.png"></a>
            <button aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-target="#navbarsExample07" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <div class="nav-link nav-size"><p>Check your</p></div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-size" href="http://www.dublinbikes.ie/">Dublin bikes</a>
                    </li>
                </ul>
                <h3 class="navbar-brand">Search Stations:</h3>
                <form class="form-inline my-2 my-md-0">
                    <input aria-label="Search" class="form-control" placeholder="Search" type="text">
                </form>
            </div>
        </div>
    </nav>
</header>

<main>
    <a class="weatherwidget-io" href="https://forecast7.com/en/53d35n6d26/dublin/" data-label_1="DUBLIN" data-label_2="WEATHER" data-theme="original" >DUBLIN WEATHER</a>
    <script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
    <div class="map" id="map"></div>
    <canvas id="myChart" height="60px"></canvas>
    <script src="../static/chart.js"></script>


</main>

<footer>
    <div class="footdiv">
        <h2 class="footsec">FAST</h2>
        <p class="descrip">Bla, bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
    </div>
    <div class="footdiv">
        <h2 class="footsec">RELIABLE</h2>
        <p class="descrip">Bla, bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
    </div>
    <div class="footdiv">
        <h2 class="footsec">CHEAP</h2>
        <p class="descrip">Bla, bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
    </div>
    <div class="footdiv">
        <h2 class="footsec">SAFE</h2>
        <p class="descrip">Bla, bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
    </div>

    <div class="copy">Copyright&copy: Aidan O'Hora, Abhishek Sinha and Miguel Martinez</div>

</footer>

</body>
<script> var data = {{ place_markers | safe }}; </script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUUtoAUApYxHvPVCN6SxFtaJSVcplSXNI&callback=initMap"
        type="text/javascript"></script>
<script src="../static/map.js"></script>


</html>