<!DOCTYPE html>
<html lang="en">
<head>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <meta charset="UTF-8">
    <link href="../static/style.css" rel="stylesheet" type="text/css"/>
    <title>Dublin Bikes Map</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../static/b.png"></a>
            <button aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-target="#navbarsExample07" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <div class="nav-link nav-size"><p>Check your</p></div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-size" href="http://www.dublinbikes.ie/">Dublin bikes</a>
                    </li>
                </ul>
                <h3 class="navbar-brand">Search Stations:</h3>
                <form class="form-inline my-2 my-md-0">
                    <input aria-label="Search" class="form-control" placeholder="Search" type="text">
                </form>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="map" id="map"></div>
    <div></div>
</main>

<footer>
    <div class="footdiv">
        <h2 class="footsec">FAST</h2>
        <p class="descrip">Bla, bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
    </div>
    <div class="footdiv">
        <h2 class="footsec">RELIABLE</h2>
        <p class="descrip">Bla, bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
    </div>
    <div class="footdiv">
        <h2 class="footsec">CHEAP</h2>
        <p class="descrip">Bla, bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
    </div>
    <div class="footdiv">
        <h2 class="footsec">SAFE</h2>
        <p class="descrip">Bla, bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
    </div>

    <div class="copy">Copyright&copy: Aidan O'Hora, Abhishek Sinha and Miguel Martinez</div>

</footer>

</body>

<script>
    function initMap(){
    var locations = {{ place_markers | safe }};
    var map = new google.maps.Map(document.getElementById("map"), {
    center: new google.maps.LatLng(53.3483, -6.26665,13),
    zoom: 13,
    mapTypeId: 'roadmap'
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));

    }
    }



</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUUtoAUApYxHvPVCN6SxFtaJSVcplSXNI&callback=initMap"
        type="text/javascript"></script>
</html>